<div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/questions">Home</a></li>
        <li role="presentation"><a href="/users">Users</a></li>
      </ul>
    </nav>
    <h3 class="text-muted"> <img src="/images/jeopardy.jpg" width="200" height="100"> Jeopardy Source</h3>
</div>
